{{ define "activity_edit" }}

    <section class="activity_edit h-full w-full flex flex-col items-center px-8 py-6 gap-6 scroll-mt-20" id="activity">

        <div class="flex flex-col gap-3 justify-center items-center">
            <h class="text-white font-medium w-full text-center text-3xl tracking-wider">Edit Education and Organization</h>
            <div class="h-1 w-40 bg-cyan-400 rounded-lg"></div>
        </div>

        <div class="w-full">
            {{ range .Activity }}
            <form action="/edit/activity/update" method="POST" class="text-white flex flex-col gap-8 justify-center items-center mb-8 border-b border-cyan-100 pb-14">

                <input type="hidden" name="activity_id" value="{{ .ActivityId }}">

                <div class="flex flex-col gap-4 w-full">
                    <div class="flex flex-col gap-2">
                        <label for="activity_name_{{ .ActivityId }}" class="font-medium text-lg">Name</label>
                        <div class="h-0.5 w-20 bg-cyan-400 rounded-lg"></div>
                    </div>

                    <input type="text" id="activity_name_{{ .ActivityId }}" name="activity_name" value="{{ .Name }}" class="w-full rounded-lg border border-cyan-400 bg-transparent px-4 py-4 text-white focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-cyan-400 transition duration-300 text-xl font-medium">
                </div>

                <div class="grid grid-cols-3 justify-center gap-8 w-full">
                    <div class="flex flex-col gap-4 w-full">
                        <div class="flex flex-col gap-2">
                            <label for="activity_year_{{ .ActivityId }}" class="font-medium text-lg">Year</label>
                            <div class="h-0.5 w-20 bg-cyan-400 rounded-lg"></div>
                        </div>
                        <input type="number" id="activity_year_{{ .ActivityId }}" name="activity_year" value="{{ .Year }}" class="w-full rounded-lg border border-cyan-400 bg-transparent px-4 py-4 text-white focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-cyan-400 transition duration-300 text-xl font-medium">
                    </div>
    
                    <div class="flex flex-col gap-4 w-full">
            
                        <div class="flex flex-col gap-2">
                            <p class="font-medium text-lg">Category</p>
                            <div class="h-0.5 w-20 bg-cyan-400 rounded-lg"></div>
                        </div>

                        <div class="flex flex-row gap-6">
                            <div class="flex flex-row gap-2">
                                <input type="radio" id="category_education_{{ .ActivityId }}" name="activity_category_id" value="1"
                                {{ if eq .CategoryId 1 }} checked {{ end }}>
                                <label for="category_education_{{ .ActivityId }}" class="text-xl font-medium">Education</label>
                            </div>
            
                            <div class="flex flex-row gap-2">
                                <input type="radio" id="category_organization_{{ .ActivityId }}" name="activity_category_id" value="2"
                                {{ if eq .CategoryId 2 }} checked {{ end }}>
                                <label for="category_organization_{{ .ActivityId }}" class="text-xl font-medium">Organization</label>
                            </div>
                        </div>
    
    
                    </div>
    
                    <div class="flex flex-col gap-4 w-full items-center">
                        <button type="submit" class="bg-blue-600 text-white w-[40%] rounded-lg border-blue-600 border justify-center items-center flex font-semibold text-lg tracking-widest hover:w-[60%] hover:shadow-lg hover:shadow-cyan-400 hover:bg-transparent hover:border hover:border-cyan-400 hover:text-cyan-400 transition-all transform duration-500 py-2">SAVE</button>
                        <button type="submit" formaction="/edit/activity/delete" class="bg-red-600 text-white w-[40%] rounded-lg border-red-600 border justify-center items-center flex font-semibold text-lg tracking-widest hover:w-[60%] hover:shadow-lg hover:shadow-red-400 hover:bg-transparent hover:border hover:border-red-400 hover:text-red-600 transition-all transform duration-500 py-2">DELETE</button>
                    </div>
                </div>

                
            </form>
            {{ end }}
        </div>

        <div class="flex flex-col gap-3 justify-center items-center">
            <h class="text-white font-medium w-full text-center text-3xl tracking-wider">Add Education and Organization</h>
            <div class="h-1 w-40 bg-cyan-400 rounded-lg"></div>
        </div>
        
        <div class="w-full">

            <form action="/edit/activity/create" method="POST" class="text-white flex flex-col gap-8 justify-center items-center mb-8 border-b border-cyan-100 pb-14">

                <div class="flex flex-col gap-4 w-full">
                    <div class="flex flex-col gap-2">
                        <label for="activity_name" class="font-medium text-lg">Name</label>
                        <div class="h-0.5 w-20 bg-cyan-400 rounded-lg"></div>
                    </div>

                    <input type="text" id="activity_name" name="activity_name" class="w-full rounded-lg border border-cyan-400 bg-transparent px-4 py-4 text-white focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-cyan-400 transition duration-300 text-xl font-medium">
                </div>

                <div class="grid grid-cols-3 justify-center gap-16 w-full">
                    <div class="flex flex-col gap-4 w-full">
                        <div class="flex flex-col gap-2">
                            <label for="activity_year" class="font-medium text-lg">Year</label>
                            <div class="h-0.5 w-20 bg-cyan-400 rounded-lg"></div>
                        </div>
                        <input type="number" id="activity_year" name="activity_year" class="w-full rounded-lg border border-cyan-400 bg-transparent px-4 py-4 text-white focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-cyan-400 transition duration-300 text-xl font-medium">
                    </div>
    
                    <div class="flex flex-col gap-4 w-full">
            
                        <div class="flex flex-col gap-2">
                            <p class="font-medium text-lg">Category</p>
                            <div class="h-0.5 w-20 bg-cyan-400 rounded-lg"></div>
                        </div>

                        <div class="flex flex-row gap-6">
                            <div class="flex flex-row gap-2">
                                <input type="radio" id="category_education" name="activity_category_id" value="1">
                                <label for="category_education" class="text-xl font-medium">Education</label>
                            </div>
            
                            <div class="flex flex-row gap-2">
                                <input type="radio" id="category_organization" name="activity_category_id" value="2">
                                <label for="category_organization" class="text-xl font-medium">Organization</label>
                            </div>
                        </div>
    
    
                    </div>
    
                    <div class="flex flex-col gap-4 w-full items-center">
                        <button type="submit" class="bg-blue-600 text-white w-[40%] rounded-lg border-blue-600 border justify-center items-center flex font-semibold text-lg tracking-widest hover:w-[60%] hover:shadow-lg hover:shadow-cyan-400 hover:bg-transparent hover:border hover:border-cyan-400 hover:text-cyan-400 transition-all transform duration-500 py-2">ADD</button>
                    </div>
                </div>

                
            </form>
        </div>
    </section>

{{ end }}