{{ define "contact" }}

    <section class="contact h-full w-full flex flex-col items-center px-8 py-6 gap-8 scroll-mt-20 my-14" id="contact">

        <div class="flex flex-col gap-2 justify-center items-center">
            <h class="text-white font-medium w-full text-center text-3xl tracking-wider">Contact</h>
            <div class="h-1 w-40 bg-cyan-400 rounded-lg"></div>
        </div>

        <div class="max-w-5xl w-full flex flex-wrap justify-center gap-4">
            {{range .Contact}}
            <a href="{{ .Link }}" class="text-cyan-400 w-70 rounded-full border-2 border-cyan-400 px-8 py-3 flex flex-col gap-1 hover:-translate-y-4 hover:shadow-lg hover:shadow-cyan-400 transition transform duration-500 bg-linear-to-br from-cyan-400/30 to-transparent">
                <p class="text-xs underline capitalize">
                    {{ .Type }}
                </p>
                <p class="text-lg font-bold">
                    {{ .Name }}
                </p>
            </a>
            {{end}}
        </div>

    </section>

{{ end }}