{{ define "main_portfolio" }}
    {{ template "base" . }}

    <main class="main_portfolio" id="main_portfolio">
        <h2>ini halaman utama</h2>
        <p>section personal</p>
        {{ template "personal" . }}
        <br>
        
        <br>
        <p>section activity</p>
        {{ template "activity" . }}

        <br>
        <p>section work</p>
        {{ template "work" . }}

        <br>
        <p>section project</p>
        {{ template "project" . }}
    </main>

    {{ template "footer" . }}
    {{ template "lastfooter" . }}

{{ end }}