{{ define "main_edit" }}
    {{ template "base" . }}

    <main class="main_edit" id="main_edit">
        <h2>ini halaman edit</h2>
        <p>section personal</p>
        {{ template "personal_edit" . }}
        
        <br>
        <p>section activity</p>
        {{ template "activity_edit" . }}

        <br>
        <p>section work</p>
        {{ template "work_edit" . }}

        <br>
        <p>section project</p>
        {{ template "project_edit" . }}
    </main>

    {{ template "footer" . }}
    {{ template "lastfooter" . }}

{{ end }}